<div class="container_big-card">
    <div class="big-card__photo">
        <img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" 
        alt="" 
        height="200px"
        
        srcset="">

    </div>
    
    <div class="big-card__title">
        <h1><a href="#">Java is a powerful programming language</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#"> 
                Java is one of the most popular and powerful programming languages in the world. 
                If you've worked with Java before, it's essential to continually sharpen your skills. 
                Mastery comes from consistent practice—don’t assume that just because you’ve learned something, 
                there’s no room for improvement. 
                Regular practice helps reinforce your knowledge, 
                enabling you to take on more complex projects and fully leverage
                 Java’s potential to boost your development capabilities. </a></p>
    </div>
</div>
