<header>
    <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
       <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/
       images?q=tbn:ANd9GcRGl65crGoZVzRg-89-L_DDrOVcfM8oMcLpaw&s"
       
       cardTitle="Java: A Powerful Programming Language"

       cardDescription="Java is one of the most popular and powerful programming languages in the world.
       If you've worked with Java before, it's essential to continually sharpen your skills.
       Mastery comes from consistent practice—dont assume that just because youve learned something,
       theres no room for improvement.
       Regular practice helps reinforce your knowledge,
       enabling you to take on more complex projects 
       and fully leverage Javas potential to boost your development capabilities"
         ></app-big-card>
    </div>
    <div class="articles__others">

        <app-small-card 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlwJumnuCyOrWsiYLeYZ35DN1KjbeO6xKOrA&s"
        cardTitle="Have you explored the power of Spring Boot?"
        ></app-small-card>

        <app-small-card 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3THIktSzw7n-9iG-2aCFFqTw6ER66SiV6AhqakN4HPXaS-_RacUEeoomvIIat9zyt8hM&usqp=CAU"
        cardTitle="Want to build robust databases using MySQL?"></app-small-card>

        <app-small-card 
        photoCover="https://progatix.com/app/uploads/2023/12/ABDDD-3.webp"
        cardTitle="Ready to dive deep into frontend development with Angular 17+?"></app-small-card>
    </div>

</div>